h1 {
  color: #F0F5F4;
  text-align: right;
}

form {
  padding: 10px;
}

body {
  background-color: white;
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.left-side {
  grid-column: 1 / 2;
}

.seattle {
  grid-column: 2 / 3;
}

.right-side {
  grid-column: 3 / 4;
  padding-right: 100px;
}

.invisible {
  display: none;
}

.play-stop {
  color: grey;
  font-size: 1.2em;
  float: left;
}

.play-stop:hover {
  color: grey;
}

.play-stop:active {
  color: white;
}

.custom-progress-bar {
  width: 300px;
  float: right;
}

.controls {
  display: flex;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}