h1 {
  color: #F0F5F4;
  text-align: right;
}

form {
  padding: 10px;
}

body {
  background-color: white;
}

.parent {
  position: relative;
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 350px;
  width: 700px;
  position: absolute;
  top: 50vh;
  left: 50%;
  margin-left: -350px;
  margin-top: -375px;
  /* right: 25%; */
  /* transform: translateY(-100%); */
  /* margin-left: auto;
  margin-right: auto; */
  /* account for padding and border */
}

/* .left-side {
  grid-column: 1 / 2;
} */

.seattle {
  grid-column: 1 / 2;
}

.right-side {
  grid-column: 2 / 3;
  /* padding-right: 100px; */
  margin-top: 10px;
}

.invisible {
  display: none;
}

.play-stop {
  color: grey;
  font-size: 1.2em;
  float: left;
  font-weight: bold;
}

.play-stop:hover {
  color: grey;
}

.play-stop:active {
  color: white;
}

.custom-progress-bar {
  width: 275px;
  float: right;
}

.controls {
  display: flex;
  /* height: 50px; */
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

form {
  text-align: left;
}

.buttons {
  float: right;
  padding-top: 5px;
}

