.App {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

body {
  background-color: #88acc1;
}

h1 {
  /* color: #F0F5F4; */
  color:  rgb(250, 252, 250);
  text-align: right;
  font-weight: bold;
}

form {
  padding: 10px;
  text-align: left;
}

a {
  color: white;
}

a:hover {
  color: #6c757d;
  /* font-weight: bold; */
}

nav ul {
  list-style: none;
  margin-left: none;
}

nav {
  align-self: center;
}

.parent {
  position: relative;
}

.parent__flipped {
  direction: rtl;
}

.parent__flipped h1 {
  text-align: left;
}

.seattle {
  grid-column: 1 / 2;
}

.right-side {
  grid-column: 2 / 3;
  margin-top: 10px;
  padding-right: 20px;
  width: 300px;
  text-align: right;
}

.invisible {
  display: none !important;
}

.play-stop {
  color: grey;
  font-size: 1.2em;
  float: left;
  font-weight: bold;
}

.play-stop:hover {
  color: grey;
}

.play-stop:active {
  color: white;
}

.buttons {
  padding-top: 5px;
  display: block;
}

.navbar {
  padding: .25rem;
  border-bottom: solid #6c757d 1px;
  width: 100%;
  /* text-align: center; */
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 350px;
  width: 700px;
  position: absolute;
  top: 50vh;
  left: 50%;
  margin-left: -350px;
  margin-top: -375px;
}

.current-bike {
  background-color: rgb(108, 117, 125, .1);
  width: 200px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 15vh;
  height: auto;
  text-align: center;
  color: white;
  padding: 10px;
}

h2 {
  font-size: 1.5em;
  /* text-decoration: underline; */
}

h3 {
  color: rgb(250, 252, 250);
  background-color: #6c757d;
  font-size: 3em;
  text-align: center;
  /* text-shadow: -2px 2px rgb(108, 117, 125); */
  font-weight: bold;
  padding: 5px;
}

.bike-info {
  text-align: left;
  margin: 0;
}

.placeholder {
  padding: 20px 30px;
  color: rgb(256, 256, 256, .5);
}

.show-or-hide > * {
  color: #6c757d;
}

.show-or-hide > *.hover {
  color: white;
}

.loading-screen {
  background-color: #afd0e3;
  width: 100%;
  height: 95vh;
  position: absolute;
  top: 30;
  left: 0;
  z-index: 10;
  padding-top: 40vh;
}